<a href="https://colab.research.google.com/github/KorStats/ADP-test/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%95%B8%EB%93%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DataFrame 기본**

In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

data=np.array([['kor', 70], ['math', 80]])
data=[['kor', 70], ['math', 80]]
df=pd.DataFrame(dataset, columns=['class', 'score'])
df=pd.read_csv('myfile/data.csv', na_values='NA', encoding='utf-8')
df.to_csv('result.csv', header=True, index=True, encoding='utf-8')

df.head() / df.tail() / df.info() / df.describe() 
df.columns / df.index / df.dtypes
df.set_index('class', drop=True, append=False, inplace=True)
df.reset_index(drop=False, inplace=True)
df.columns=df.columns.str.replace(' ', '_')
df[['sepal_width', 'petal_length']]=df[['sepal_width', 'petal_length']].astype('int')

In [ ]:
score=pd.DataFrame({'국어':[100, 80], '수학':[75, 90], '영어':[90, 95]}, index=['장화', '홍련'])
new_students=pd.DataFrame({'국어':[70, 85], '수학':[65, 100],'영어':[95, 65]}, index=['콩쥐', '팥쥐'])
new_student=pd.Series({'국어': 85, '수학': 70, '영어' : 85}, name='해님')
score.append(new_students)
score.append(new_student)
score['총점']=score['국어']+score['수학']+score['영어']
scroe.drop('장화', inplace=True)
score.drop(columns=['총점'], inplace=True)
score.loc[(score['국어']>=80) & (score['수학']>=80), '합격']='Pass'
score.loc[score['합격']!='Pass', '합격']='Fail'

In [ ]:
df.isna().sum() #열합계
df.isna().sum(1) #행합계
df.dropna(thresh=4) #결측값이 아닌 값이 4개보다 많은 행만 남기기
df['병결']=df['병결'].fillna(0)
df['몸무게']=df['몸무게'].fillna(df['몸무게'].mean())
df['키']=df['키'].fillna(method='pad', inplace=True) #pad, ffill:이전값 대체 / backfill, bfill : 다음값 대체
df['키'].drop_duplicates() / df[['시력', '병결']].drop_duplicates() #중복행 삭제
df.sort_index(ascending=False, inplace=True) #인덱스 내림차순
df.sort_index(axis=1, ascending=True, inplace=True) #컬럼명 오름차순
df.sort_values('petal_width')
df.sort_values(['petal_width', 'sepal_lenght']) #값 기준 정렬
df.concat([HR1, HR2], axis=0, ignore_index=True) #명부 결합
df.concat([HR1, HR3], aixs=1) #변수 결합
df1.merge(df2, left_on='idx', right_on='idx', how='inner') #left, right, outer, inner
df.groupby(by='class').mean() #count/sum/min/max/mean/median/std/var/quantile(n)/first/last/describe
df['petal width level']=pd.qcut(df['petal width'], q=3, labels=['s','m','l'])
pd.Series(df['petal width level']).value_counts().to_frame()
pd.crosstab(df['petal width level'], df['class'])

In [ ]:
score={'학년':[1,1,1,1,2,2],'반':[1,2,3,1,2,3],'성별'['F','M','F','M','F','M'],'성적':[70,60,90,92,60,80]}
score=pd.DataFrame(score)
score=score.pivot_table(index=['학년','반'], columns='성별', values='성적')
score.reset_index().melt(id_vars=['학년','반'], var_name='성별', value_name='성적')
score.apply(np.sqrt, axis=0) / score.apply(np.max, axis=0)
score['남자'].map(lambda x:x+5)

In [ ]:
landmark['location'].str[3:6]
landmark['location'].str.split(" ", expand=True)
landmark['loc']=landmark['location'].str.split(" ").str[0]
landmark['location'].str.startswith('서울') #endswith, contains

In [ ]:
from datetime import datetime, timedelta
datetime.today().year
datetime.strptime('2023-01-01', '%Y-%m-%d') #strptime : 문자열 -> 날짜형
time=datetime.today()
time.strftime('%Y-%m-%d') #strftime : 날짜형 -> 문자열
time+timedelta(days=100) #days, seconds, minutes, hours, weeks